h1 {
    text-align: center;

}

.playButton {
	margin-left: 10%;
	
}
.playButton input {
    height: 180px;
    width: 260;
    font-size: 22px;
}

.gameRulesButton {
	margin-right: 30%;
	
}

.gameRulesButton input {
    height: 180px;
    width: 260;
    font-size: 22px;
	
}

.playButton,
.gameRulesButton {
	text-align: center;
    display: inline-block;
}

.playButton:hover,
.gameRulesButton:hover {
    background: #fff;
	
}
